
name: 'Deploy resources with Terraform'

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose action: apply or destroy'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy

permissions:
  id-token: write
  contents: read


jobs:
  terraform:
    name: 'Deploy'
    runs-on: ubuntu-latest

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Log into Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Install the latest version of Terraform CLI 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      
    - name: Terraform Init
      run: terraform init
 
    - name: Terraform Format
      run: terraform fmt -check
 
    - name: Terraform Plan
      run: terraform plan -out=tfplan
    - name: Terraform Apply
      if: ${{ github.event.inputs.action == 'apply' }}
      run: |
          echo "Running terraform apply..."
          terraform init
          terraform apply -auto-approve
          
    - name: Terraform Destroy
      if: ${{ github.event.inputs.action == 'destroy' }}
      run: |
          echo "Running terraform destroy..."
          terraform init
          terraform destroy -auto-approve
       
      

  

